[Desktop Entry]
Name=Tazwok manual
Name[fr]=Manuel de Tazwok
Comment=SliTaz packages builder manual
Comment[fr]=Manuel du générateur de paquets SliTaz
Exec=browser /usr/share/doc/tazwok/tazwok.html
Icon=text-html
Type=Application
Categories=Documentation;
